html {
  background-color: #ECEBF3;
}

.app {
  background-color: #ECEBF3;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.nav {
  height: 60px;
  display: flex;
  color: white;
  background-color: black;
  padding-top: 20px;
  justify-content: space-between;
}

.nav a{
  color: inherit;
  text-decoration: none;
}

.nav ul{
  color: white;
  display: flex;
  gap: 1rem;

}

.welcomeDiv {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.mainBox {
  text-align: center;
  padding-top: 20px;
}

.formElement{
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcomeCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: white;
}

.title {
  color: rgb(128, 128, 128);
  font-size: 18px;
}

#welcomeBut {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.welcomeCard img {
  width: 300px;
  height: 300px;
}
